attr==0.3.2
bpython==0.24
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
coreschema==0.0.4
cryptography==41.0.4
cx_Oracle==8.3.0
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
ipdb==0.13.13
ipython==8.15.0
ipywidgets==8.1.1
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
Markdown==3.4.4
mock==5.1.0
MySQL-python==1.2.5
numpy==1.26.0
Pillow==10.0.1
protobuf==4.24.3
psycopg==3.1.10
psycopg2==2.9.7
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==23.2.0
pywatchman==1.4.1
PyYAML==6.0.1
railroad==0.5.0
sets==0.3.2
simplejson==3.19.1
Sphinx==7.2.6
tblib==2.0.0
tornado==6.3.3
trove_classifiers==2023.9.19
truststore==0.8.0
uritemplate==4.1.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.21.0
